{% extends 'base.html' %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <label>
            نام کاربری:
            <input type="text" name="username">
        </label>


        <label>
            پسورد:
            <input type="password" name="password">
        </label>


        <input type="submit" value="ورود">

    </form>

{% endblock %}
