/*

Accord Template

http://www.templatemo.com/tm-478-accord

*/

a:hover, a:focus { text-decoration: none; }
a:hover {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.margin-b-30 { margin-bottom: 30px; }

/*
 * http://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/
 */
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #161E2C;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.main-body {
	float: left;
	width: 100%;
	background: url(../../../../Downloads/templatemo_478_accord-2/images/page-bg.jpg) no-repeat top center;
	background-size: 100% auto;
	background-attachment: fixed;
}

/* 
 * http://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
 * Background attachment fixed bug on IE 
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
	/* IE10+ CSS styles go here */
	
	.main-body { background-attachment: scroll;	}
}

.main-page {
	position: relative;
	margin-top: 80px;
}

/*http://stackoverflow.com/questions/16034397/css-calc-alternative*/
.content-main {
	padding-left: 340px;
	width: 100%;
	box-sizing: border-box;
	float: none;
}

.main-navigation {
	padding: 0px 0px;
	width: 310px;
	position: absolute;
	top: 0;
	left: 0;
}
.gallery-page .main-navigation,
.contact-page .main-navigation {
	position: static;
	float: left;
	width: 340px;
	padding-right: 30px;
}

.main-menu {
	float: left;
	width: 100%;
}
.main-menu-link {
	color: #fff;
	display: block;
	font-weight: 300;
	font-size: 15px;	
}

.main-menu-link-text {
	margin-bottom: 0;
	position: absolute;
	left: 20px;
	bottom: 15px;
}

.menu-container {	
	padding-left: 0;
	overflow: auto;
	margin-bottom: 10px;
}
.menu-container:last-child { margin-bottom: 0; }

/* http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio */

.block-keep-ratio {	position: relative; }
	
	.block-keep-ratio__content {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
	}

.block-keep-ratio:after {
	display: block;
	content: '';
}

.block-width-full {	width: 100%; }
.block-width-half { width: 150px; }

.block-keep-ratio-1-1:after {	padding-top: 100%; }
.block-keep-ratio-2-1:after {	padding-top: 50%; }

.flexbox-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.main-menu-link:hover {	color: #66FFFF; }
.main-menu-link:focus {	color: #fff; }

.home {
	background-color: rgba(16, 165, 205, 0.8);
	background-image: url(../../../../Downloads/templatemo_478_accord-2/images/menu-bg-home.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.about-main { padding-left: 0; }
.about { background-color: rgba(193,61,18,0.8);	}

.cards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.card {
	width: -webkit-calc(33% - 1em);
	width: calc(33% - 1em);
	margin-bottom: 30px;
}

.contact { background-color: rgba(107,181,34,0.8);	}

.about i, .contact i {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.gallery {
	background-image: url(../../../../Downloads/templatemo_478_accord-2/images/menu-bg-gallery.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.banner-main-home {
	background-color: white;
	background-image: url(../../../../Downloads/templatemo_478_accord-2/images/banner-bg-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
	border-top: 7px solid #10a5cd;
	min-height: 320px;	
	overflow-y: auto;
}
.banner-main-home,
.banner-main-about {
	padding: 70px 30px 60px 50px;
}
.banner-main-home img {
	float: right;
	margin: 45px 0px;
	height: auto;
}

.banner-main-about {
	float: left;
    width: 100%;
    background-image: url(../../../../Downloads/templatemo_478_accord-2/images/banner-bg-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #a92446;
    min-height: 320px;
    background-color: white;
    background-position: bottom right;
}
.banner-main-about img {
	float: right;
	margin: 45px 0px;
}

.carousel-control.left,
.carousel-control.right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	        justify-content: center;
	margin-bottom: 0;
}

.banner-main-home-text,
.banner-main-about-text {
	position: relative;
	float: left;
	width: 55%;
	color: #000;
	text-align: left;
	right: 0;
	top: 0px; 
	left: 0;
	text-shadow: none;
}
.menu-caption {
	float: left;
	width: 100%;
	background-color: #cfb011;
	text-align: center;
	left: 0px;
	bottom: 0px;
	position: absolute;
	top: 67%;
	opacity: 0.7;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	text-transform: uppercase;
}
.heading, .heading2 {
	float: left;
	width: 100%;
	margin: 10px 0px;
}
.heading { border-left: 4px solid #10a5cd; }
.heading2 {	border-left: 4px solid #a92446; }
.heading h1, .heading2 h1 {
	margin: 0 10px;
	font-weight: 600;
	font-size: 72px;
}
.heading p, .heading2 p {
	margin: 0 10px;
	font-size: 24px;
	font-weight: 600;
}
.heading p { color: #10a5cd; }
.heading2 p { color: #a92446; }
.desc, .desc2 {
	float: left;
	width: 100%;
	padding-left: 15px;
}
.desc p {
	line-height: 1.8;
	margin-top: 25px;
	margin-bottom: 30px;
}
.desc button, .desc2 button {
	background-color: #363636;
	color: #fff;
	font-weight: bold;
	border: none;
	padding: 10px 30px;
}
.desc button {
	background-color: #363636;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.desc button:hover, .desc button:focus { background-color: #777; }
.desc2 button {
	background-color: #a92446;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.desc2 button:hover, .desc2 button:focus { background-color: #DD426A; }
.desc2 ul {
	padding: 10px 15px 30px;
	line-height: 2;
	text-transform: uppercase;
}

/****box design style*****/
.box {
	float: left;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	display: block;
	background-color: #fff;
}
.london { border-top: 7px solid #19beb6; }
.paris { border-top: 7px solid #df9801; }
.box-icon {
	width: 100%;
	position: relative;
}

.info-nav-container {
	width: 32%;
    margin-right: 3%;
}

.float-container { overflow: auto; }

.info {
	width: 100%;
	padding: 15px 30px 20px;
}
.info-ul { padding: 15px 20px; }
.info-description-container {
	padding: 20px 30px;
	float: right;
	width: 65%;
}
.info > li {
	display: block;
	font-size: 14px;
	text-align: left;
	border-bottom: 2px dotted #D7D2D2;
	margin: 0px 15px;
	padding: 10px 0px;
}
.info > li:last-child {	border-bottom: none; }

.london-title {
	padding: 0 0 0 5px;
	border-left: 2px solid #19beb6;
	margin: 25px 0px;
}
.london-title h3 {
	color: #19beb6;
	font-size: 18px;
	margin: 5px;
}
.london-title h4 {
	font-size: 14px;
	margin: 5px;
}
.location-main {
	padding-left: 0px;
	padding-right: 0px;
}
.location i { color:#19beb6; }
.location span {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}

.fa-2x { font-size: 1.4em; }

.user-icons i {
	color: #ccc;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.user-icons a { margin-right: 12px; }
.user-icons a:last-child {	margin-right: 0; }
.user-icons i:hover { color:#999; }

.paris-title {	border-left: 2px solid #df9801; }
.paris-title h3 { color: #df9801; }
.location2 i { color:#df9801; }

.bottom-main { border-top:7px solid #75bd29; }
.bottom-title {
	padding: 0 0 0 5px;
	border-left: 2px solid #75bd29;
	margin: 25px 0px;
}
.bottom-title h3 {
	color: #75bd29;
	font-size: 20px;
	margin: 2px 5px;
}
.bottom-title h4 {
	font-size: 16px;
	margin: 0px 5px;
}
.bottom-user {
	font-size: 16px;
	color: #ccc;
	font-weight: bold;
}
.bottom-desc {
	margin-top: 30px;
	margin-bottom: 35px;
}
.bottom-user a {
	color: #ccc;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.bottom-user a:hover { color:#999; }
.bottom-user i {
	font-size: 18px;
	margin-right: 5px;
}
.bottom-img { position: relative; }
.bottom-img p {
	width: 100%;
	color: #fff;
	position: absolute;
	bottom: 0px;
	padding: 18px 10px;
	margin: 0px 0px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

.first { background-color: rgba(36,148,176,0.8); }
.second { background-color: rgba(21, 150, 144, 0.8); }
.third { background-color: rgba(211,150,14,0.8); }

.footer {
	color: white;
	font-size: 12px;
	padding-right: 0;
}
.copyright {
	color: #fff;
	font-size: 11px;
	margin-bottom: 0;
	text-align: right;
	padding: 30px 0;
}

.copyright a {
	color: #fff;
}
.copyright a:hover {
	color: #FF0;
}

.about_box_line { border-top: 7px solid #10a5cd; }
.about_box_title {
	padding: 0 0 0 5px;
	border-left: 2px solid #10a5cd;
	margin: 20px 0px;
}
.about_box_title h3 {
	color: #10a5cd;
	font-weight: 400;
	font-size: 18px;
	margin: 0px 7px;
	text-transform: uppercase;
}
.about_box_title h4 {
	font-size: 14px;
	margin: 3px 7px 0;
	text-transform: uppercase;
}
.about_box_text {
	color: #535353;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	clear: both;	
	padding: 15px 15px 15px 30px;
}
.line {
	float: left;
	width: 60%;
	height: 1px;
	background-color: #ccc;
}
.banner-2-container {
	background: url(../../../../Downloads/templatemo_478_accord-2/images/banner-bg-about-2.png) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 215px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;    
}

.proin-title {
	padding: 0px;
	border-left: 2px solid #75bd29;
	margin: 25px 0px;
}
.proin-title h3 {
	color: #75bd29;
	font-size: 18px;
	margin: 0px 5px;
	text-transform: uppercase;
}
.proin-title h4 {
	font-size: 14px;
	margin: 0px 5px;
	text-transform: uppercase;
}

.about_proin {
	color: black;
	padding: 0 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.about_proin.current, .about_proin:hover, .about_proin:focus { color: #75BD29; }
.proin-right-text {	margin-top:20px; }

.about-last-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;	
}

.aenean {
	padding-left: 10px;
	border-left:5px solid #df9801;
}
.aenean h3 {
	font-size: 58px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.aenean h4 {
	font-size: 24px;
	font-weight: 400;
	margin: 0px 0px;
	padding-left: 3px;
	color: #df9801;
	text-transform: uppercase;
}

.gallery_main,
.contact-content {
	background-color: #fff;
	border-top: 5px solid #19beb6;	
	width: auto;
	overflow: hidden;
}
.gallery_main {	padding: 30px 20px 30px 30px; }

.contact-content { padding: 30px; }
.contact-content { padding: 0; }
.contact-content-upper { padding: 30px 40px; }

.gallery_title {
	width: auto;
	border-left: 4px solid #19beb6;
	padding-left: 20px;
	margin-bottom: 40px;
}
.gallery_title h3 {
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 0;
}
.gallery_title h4 {
	font-size: 25px;
	font-weight: bold;
	color: #19beb6;
	margin-top: 0;
	text-transform: uppercase;
}

.view_more_main {
	width: 100%;
	margin: 15px 0px;
}

.view_more {
	background-color:#19beb6;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:0px;
	padding:8px 25px;
}

.contact_left {	padding:8px 30px; }
.contact_right { padding: 5px 0px; }

.contact_title {
	font-size: 37px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 5px;
}
.contact_sub_title { font-size:15px; }
.contact_text {
	font-size: 15px;
	line-height: 25px;
	margin-top: 30px;
	margin-bottom: 25px;
}
.contact_info {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	line-height: 25px;
	margin-left: 10px;
	margin-bottom: 15px;
}
.contact-fa { width: 25px; }

.social-icon {
	color: #fff;
	cursor: pointer;
	margin: 5px;
	width: 35px;
	height: 35px;
	text-align: center;
	padding-top: 10px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.rss_icon {	background-color: #ff9934;}
.rss_icon:hover, .rss_icon:focus { background-color: #E6801C; }

.twitter_icon {	background-color:#1abfdf; }
.twitter_icon:hover, .twitter_icon:focus { background-color: #0C98B3; }

.facebook_icon { background-color:#527ebf; }
.facebook_icon:hover, .facebook_icon:focus { background-color: #2B538D; }

.form-group { margin-bottom: 25px; }
.form-control {
	border-radius: 0;
	height:43px;
}
.form-control:focus {
    border-color: rgb(25, 192, 200);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(25,192,200,.6);
}
.contact-info-link { color: #000; }
.contact-info-link:hover, .contact-info-link:focus { color: #19beb6; }

.btn-submit {
	font-weight: normal;
	padding: 13px 38px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn-submit:hover, .btn-submit:focus {
	background-color: #109B94;
	color: white;
}

textarea.form-control {	height:135px; }

.inner_search {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: none;
	opacity: 0;
	z-index: 110;
	top: 0px;
	left: 0px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.search_icon {
	border-radius: 100%;
	padding: 12px 0px;
	width: 44px;
	height: 44px;
	background-color: #10a5cd;
	color: #fff;
	cursor: pointer;
}

.box-icon:hover .inner_search{
	opacity: 0.9;
	background-color:#000;
}

#google-map { height: 435px; }

.modal-dialog {
	width: 300px;
	margin: 80px auto;
}

/*****masonry gallery****/
#content {
	float: left;
	width: 100%;
}
#content .box {
	width: 50%;
	padding: 6px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 12px; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
	box-sizing: border-box;
	box-shadow: none;         /* Opera/IE 8+ */
}
.box img { width: 100%;	}
.about_box_line { max-width: 410px; }

@media screen and (max-width: 1199px) and (min-width: 992px) {
	
	.banner-main-home {	padding-bottom: 80px; }
	.banner-main-home img {	margin-top: 150px; }
	.banner-main-home-text,
	.banner-main-about-text {
		width: 43%;
	}

	.banner-main-about { padding: 70px 30px 60px 30px; }
	.banner-main-about img { padding-top: 100px; }

}

@media screen and (max-width: 719px) {
	#content { float: none; }
}

@media screen and (min-width: 720px) {
	#content .box { width: 33%; box-shadow: none;}
}

@media screen and (min-width: 992px) {
	#content .box { width: 33%; box-shadow: none;}
}

@media (min-width: 1230px) {
	.container { width: 1200px;	}
}

@media (max-width:991px) {

	.main-body { background-size: auto; }

	.box {	margin-bottom: 30px; }

	.block-keep-ratio-md-2-1:after { padding-top: 50%; }

	.contact-page .main-navigation,
	.gallery-page .main-navigation,
	.main-navigation {
		float: none;
		position: static;
		overflow: auto;
    	margin: 0 auto 80px;   
    	padding-right: 0;
    	width: 310px;
    	max-width: 100%;
	}

	.content-main { padding-left: 0; }
	.content-main.gallery_main { padding: 30px; }

	.banner-main-home img {
		display: block;		
		float: none;
		margin: 50px auto;
		padding-top: 50px;
	}
	.banner-main-home-text { overflow-y: auto; }

	.banner-main-about img {
		float: none;
		margin: 0 auto;
		padding-top: 30px;
	}

	.bottom-img {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.bottom-img p {
		width: 100%;
		position: relative;
	}

	.heading h1, .heading2 h1 {	font-size: 40px; }
	.heading p, .heading2 p { font-size: 14px; }
	
	.banner-main-home-text,
	.banner-main-about-text {
		width: auto;		
	}

	.box.paris { margin-bottom: 0; }
	.bottom-main { margin-bottom: 0; }
	
	.aenean { top: 7px;	}

	.about_proin { padding: 0;	}
	.about-last-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	
	.info-nav-container,
	.info-description-container {
		float: none;
		width: 100%;
	}
	.info-nav-container {
		margin-right: 0;
		margin-bottom: 30px;
	}	
}

@media (max-width: 800px) {

	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

}

@media (max-width:767px) {

	.box {	width: 100%; }
	
	.cards { 
		-webkit-box-pack: center; 
		-webkit-justify-content: center; 
		    -ms-flex-pack: center; 
		        justify-content: center;
	}
	.card {	width: 100%; }

	.desc p {
		font-size:14px;
		display:block;
	}
	.desc2 ul {	display: block;	}
	.heading, .heading2 { margin: 15px 0px;	}
	.carousel { min-height: auto; }
	
	.heading h1, .heading2 h1 {	font-size: 46px; }
	.heading p, .heading2 p { font-size: 15px; }
	
	.content-main {
		padding-left: 0;
		width: 100%;
	}

	.gallery_main,
	.contact-content { padding: 15px; }
	
	.gallery_title h3 {	font-size: 50px; }
	.gallery_title h4 {	font-size: 20px; }
	
	.banner-main-home-text,
	.banner-main-home img {
		float: none;
	}
	
	.banner-main-about img {
		float: none;
		padding-top: 50px;
	}
}
@media (max-width: 550px) {

	.banner-main-home, .banner-main-about {	padding: 20px; }
	.banner-main-home-text {
		width: 92%;
		float: left;
		padding-right: 25px;
	}
	
	.aenean { top: 20px; }
}

@media (max-width: 480px) {

	.col-xxs-12 { width: 100%; }

	.aenean h3 { font-size: 40px; }
	.aenean h4 { font-size: 22px; }
	
	.info-description-container { padding: 20px 0; }
}

@media (max-width:400px) {
	
	.desc2 { font-size: 12px; }
	
	.contact-content-upper { padding: 20px;	}
}

@media (max-width: 370px) {
	
	.block-width-half {	width: 48%;	}

	.main-menu-link-icon {	font-size: 3em;	}

	.gallery_title h3 { font-size: 40px; }
	.gallery_title h4 { font-size: 18px; }
}
