<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Holiday - templatemo</title>
<!--
Holiday Template
http://www.templatemo.com/tm-475-holiday
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="/static/css/flexslider.css" rel="stylesheet">
  <link href="/static/css/templatemo-style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

<body class="main_container">
<div style="width: 1000px;padding: 20px; margin: 0 auto;">

    {% include 'messages.html' %}

    <div>
        {% if user.is_authenticated %}
            <span>{{ user }}</span>
            <a href="{% url 'logout' %}">خروج</a>
        {% else %}
            <a href="{% url 'login' %}">ورود</a>
            <a href="{% url 'signup' %}">ثبت نام</a>
        {% endif %}
    </div>

    <article id="content">
        {% block content %}
        {% endblock %}
    </article>
</div>

</body>

</html>