{% if messages %}
    {% for message in messages %}
        <h5 class="{% if 'error' in message.tags %} error_header{% else %} success_header{% endif %}">
                <span>{{ message }}</span>
        </h5>
    {% endfor %}
{% endif %}