<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>

        خاطرات شریفی من
    </title>
    <!--
    Holiday Template
    http://www.templatemo.com/tm-475-holiday
    -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'
          type='text/css'>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/static/css/flexslider.css" rel="stylesheet">
    <link href="/static/css/templatemo-style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="tm-gray-bg">
<!-- Header -->
<div class="tm-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container" >
                <a href="#" class="tm-site-name">
                    خاطره
                </a>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-9">
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <nav class="tm-nav" style="margin-left: 80%">
                    <ul>


                        <li><a href="{% url 'logout' %}">خروج</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
<section class="tm-banner">
    <!-- Flexslider -->
    <div class="flexslider flexslider-banner">
        <ul class="slides">
            <li>

                <img src="/static/img/sharifBaner4.jpg" alt="Image"/>
            </li>
            {#		    <li>#}
            {#			    <div class="tm-banner-inner">#}
            {#					<h1 class="tm-banner-title">Proin <span class="tm-yellow-text">Gravida</span> Nibhvell</h1>#}
            {#					<p class="tm-banner-subtitle">Velit Auctor</p>#}
            {#					<a href="#more" class="tm-banner-link">Learn More</a>	#}
            {#				</div>#}
            {#		      <img src="/static/img/sharifBaner2.jpg" alt="Image" />#}
            {#		    </li>#}
        </ul>
    </div>
</section>

<!-- gray bg -->
<section class="container tm-home-section-1" id="more" dir="rtl" >
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6" style="width: 80%; margin-left: 10%; margin-right: 10%">
            <!-- Nav tabs -->
            <div class="tm-home-box-1" style="width:100%">
                <ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs" >
                    <li role="presentation" class="active" style="width: 10%; margin-left: 45%">
                        <a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">
     خاطره من

                        </a>
                    </li>
                </ul>

                {% include 'messages.html' %}

                <!-- Tab panes -->
                <div class="tab-content" >
                    <div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
                        <div class="tm-search-box effect2">
                            <form action="" method="post" class="hotel-search-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="tm-form-inner" style="width: 100%; margin: 0">
                                    <div class="form-group" style="width: 100%">
                                        <div class='input-group' style="width: 80%; margin-right: 10%">
                                            <label>
*موضوع خاطره
                                            </label>
                                            <input type='text' class="form-control"
                                                   name="title"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group' style="width: 80%; margin-right: 10%">
                                            <label>
*                                                محل رخداد
                                            </label>
                                            <input type="text" name="place" class="form-control"
                                                    >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group' style="width: 80%; margin-right: 10%">

                                        <label>
                                             توضیحات بیشتر
                                        </label>

                                        <textarea dir="rtl" name="text" class="form-control"  >

                                        </textarea>
                                        </div>



                                    </div>

                                       <div class='input-group' style="width: 80%; margin-right: 10%">
                                            <label>
                                                *تاریخ
                                            </label>
                                            <input type="text" name="date" class="form-control"
                                                    >
                                        </div>
                                    </br>

                                                                   <div class="form-group">
                                        <div class='input-group' style="width: 80%; margin-right: 10%">
                                            <label>
*اپلود فلیم یا عکس
                                            </label>
                                           <input type="file" name="video" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="form-group margin-bottom-0">

                                    </div>
                                </div>
                                <div class="form-group tm-yellow-gradient-bg text-center" dir="rtl">
                                    <button type="submit" name="submit" class="tm-yellow-btn">
ثبت خاطره
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>




    <div class="section-margin-top" style="margin-top: 20%">


    </div>
</section>

<!-- white bg -->
<section class="tm-white-bg section-padding-bottom" style="background-color:lightgray; margin-top: 20%" id="aboutus">

</section>
<footer class="tm-black-bg">
    <div class="container">
        <div class="row">
            <p class="tm-copyright-text">Copyright &copy; Team

                | Designed by Sadjad</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/static/js/moment.js"></script>
<!-- moment.js -->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
<!-- bootstrap date time picker js, http://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>
<!--
	<script src="js/froogaloop.js"></script>
	<script src="js/jquery.fitvid.js"></script>
-->
<script type="text/javascript" src="/static/js/templatemo-script.js"></script>
<!-- Templatemo Script -->
<script>
    // HTML document is loaded. DOM is ready.
    $(function () {

        $('#hotelCarTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $('.date').datetimepicker({
            format: 'MM/DD/YYYY'
        });
        $('.date-time').datetimepicker();

        // https://css-tricks.com/snippets/jquery/smooth-scrolling/
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    // Load Flexslider when everything is loaded.
    $(window).load(function () {
        // Vimeo API nonsense

        /*
         var player = document.getElementById('player_1');
         $f(player).addEvent('ready', ready);

         function addEvent(element, eventName, callback) {
         if (element.addEventListener) {
         element.addEventListener(eventName, callback, false)
         } else {
         element.attachEvent(eventName, callback, false);
         }
         }

         function ready(player_id) {
         var froogaloop = $f(player_id);
         froogaloop.addEvent('play', function(data) {
         $('.flexslider').flexslider("pause");
         });
         froogaloop.addEvent('pause', function(data) {
         $('.flexslider').flexslider("play");
         });
         }
         */


        // Call fitVid before FlexSlider initializes, so the proper initial height can be retrieved.
        /*

         $(".flexslider")
         .fitVids()
         .flexslider({
         animation: "slide",
         useCSS: false,
         animationLoop: false,
         smoothHeight: true,
         controlNav: false,
         before: function(slider){
         $f(player).api('pause');
         }
         });
         */


//	For images only
        $('.flexslider').flexslider({
            controlNav: false
        });


    });
</script>
</body>
</html>