{% extends 'base.html' %}
{% load thumbnail %}



{% block content %}
    <div style="text-align: center;">


        <div>{{ mem.title }}</div>


        <div>{{ mem.text|linebreaksbr }}</div>

        <img src="{{ mem.image_url }}" style="max-width: 900px;">


        {% if mem.video %}
            <video controls="controls" preload="none" poster="{% thumbnail mem.image "800x400" crop %}">
                <source src="{{ mem.video.url }}" type="video/mp4">

            </video>

        {% endif %}


    </div>
{% endblock %}